.newsletter input,
.newsletter button {
  font: inherit;
  padding: 0.25rem 0.75rem;
  border-radius: 0;
  border: none;
  margin: 2px 0;
}

.newsletter button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--color-primary-300);
  color: var(--color-gray-800);
}
.newsletter {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width:300px
}

.main {
  display: flex;
  justify-content: center;
}
.newsletter a {
  color: white;
  text-align: center;
  padding: 4px;
  background-color: var(--color-gray-800);
  text-decoration: none;
  border-radius: 4px;
}
